.about-me-container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 10%;
  min-height: fit-content;
}
.about-me-parent{
  display: flex;
}
.heading-container h2 {
  font-family: "Poppins Bold";
}

.heading-container p {
  text-align: center;

  font-size: 16px;
}

.about-me-description {
  position: absolute;
  right: 0;
  font-family: "Poppins Light";
  font-size: 20px;
}

.about-me-highlights {
  font-family: "Poppins Light";
}
.highlight-heading {
  display: flex;
  font-family: "Poppins Bold";
  font-size: 25px;
}
.about-me-options {
  justify-content: center;
  text-align: center;
}

.highlight {
  display: flex;
  font-size: 20px;
}

.highlight-blob::marker {
  color: var(--dark-orange);
  font-size: 20px;
}
.about-me-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 380px;
  width: 380px;
}
.about-me-picture-background {
  background-image: url(../../../assets/Home/sf.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 80%;
  width: 80%;

  border-radius: 5%;
}
