.about-me-container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 10%;
  min-height: fit-content;
}
.about-me-parent {
  width: 88%;
  max-width: 1000px;
}
.heading-container h2 {
  font-family: "Poppins Bold";
}

.heading-container p {
  text-align: center;

  font-size: 16px;
}

.about-me-description {
  font-size: 14px;
  font-family: "Poppins Light";
}

.about-me-highlights {
  margin: 80px 0;
  font-family: "Poppins Light";
}

.about-me-options {
margin-top: 30px;
}

.highlight {
  display: flex;
  align-items: center;
  margin: 5px 0;
  font-size: 12px;
}

.highlight-blob::marker {
  color: var(--dark-orange);
  font-size: 20px;
}
.about-me-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 380px;
  width: 380px;
}
.about-me-card {
  display: flex;

  width: 100%;
}
.about-me {
  display: block;
}
.about-me-profile {
  width: 50%;
  background-image: url(../../../assets/Home/sf.jpg);
  background-size: cover;

  background-repeat: no-repeat;
}
.about-me-details {
  width: 48%;
  text-align: justify;
  padding: 30px;
}
.heading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 0 50px;
}
